*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    min-width: 1450px;
}
#top{
    width: 1350px;
    margin: 30px auto;
}
#top h1{
    float: left;
    transform: translate(180%, 0);
}
#top ul{
    float: right;
}
#top ul li{
    float: left;
    padding: 0 5px;
}
#top ul li a:hover{
color: white;
background: black;
padding: 10px;
}
#header{
    width: 1350px;
    height: 124px;
    margin: auto;
    clear: both;
}
#header ul li{
    float: left;
    padding:  50px 99px 0;
}
#header ul li a{
    font-weight: bold;
    font-size: 20px;
    display: block;
}
#header li a:hover{color:#f16136;}
.solid{width:100%;
		margin:auto;
		margin-top:20px;
		height:5px;
		background:#f16136;
		visibility:hidden;
		opacity:0;
		transform:scaleX(0);
		transition-property:opacity, transform;
		transition-duration:0.5s;}
#header li a:hover .solid{transform:scaleX(1);
						opacity:1;
						visibility:visible;}

#footer{
    clear: both;
    background: #333;
    height: 200px;
    color: white;
    line-height: 30px;
}
#footer_inner{
    width: 1350px;
    margin: auto;
    padding-top: 30px;

}
#footer h1{
    float: left;
    padding-right: 100px;
}
#footer #box{
    float: left;
}
#footer ul li{
    float:left;
    padding: 0 10px;
}
#footer ul li a{
    color: white;
}
#footer p{
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}
/*헤더, 푸터*/

.button{
    transition:all 0.5s;
			position:fixed;
			right:30px;
			bottom:50px;
			background:black;
			border-radius:50%;
            z-index: 10;
            }
		.button:hover{
            transform:translateY(-5px);
			box-shadow:5px 5px 10px rgba(0,0,0,0.3)
            }
		.button a{
            display:inline-block;
			padding:15px 0;
			text-align:center;
			width:51px;
			color:#fff;
            }

#mg{
    background: url(images/mg.png) no-repeat center top;
    height: 1280px;
     background-size: cover;
     box-sizing: border-box;
}
#mg #text{
    padding: 500px 0 0 850px;
    width: 1350px;
    margin: auto;
    line-height: 50px;
    color: rgb(78, 37, 8);
    font-family: 'Gowun Batang', serif;
    box-sizing: border-box;
}
#mg #text p{
    font-size: 20px;
    padding-top: 50px;
}
#bg{
    padding-top: 100px;
    background: sandybrown no-repeat center top;
    height: 600px;
}
#bg_inner{
    width: 1350px;
    margin: auto;
}
#bg dl{
    float: left;
    padding: 0 37px;
    width: 376;
    text-align: center;
   
}
#bg dl dd{
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
}

#box_inner{
    width: 1350px;
    margin: auto;
    margin-top: 100px;
}
#box h1{
    color: cadetblue;
    text-align: center;
    padding-bottom: 50px;
}

#box_inner div{
    width: 50%;
    height: 450px;
   
}
#box p{
    line-height: 35px;
    font-size: 18px;
}
#box #text1 h2{
    padding-bottom: 30px;
    padding-top: 70px;
}
#box #text2 h2{
    padding-bottom: 30px;
    padding-top: 70px;
}
#box #text3 h2{
    padding-bottom: 30px;
    padding-top: 100px;
}
#box #img1{
    float: left;
    text-align: center;
}
#box #text1{
    float: right;
    
}
#box #img2{
   float: right;
   box-sizing: border-box;

}
#box #text2{
  float: left;
  box-sizing: border-box;
  padding-left: 170px;
}
#box #img3{
    float: left;
    margin-bottom: 100px;
    text-align: center;

}
#box #text3{
    float: right;
}

#paper{
    margin: auto;
    width: 1350px;
   padding-bottom: 100px;
}
#cooker{
    background:url(images/cooker.png) no-repeat center top;
    height: 800px;
    background-size: cover;
     
}
#cooker_inner{
    width: 1350px;
    margin: auto;
    padding-left: 750px;
    padding-top: 200px;
    line-height: 30px;
    box-sizing: border-box;
}
#cooker p{
    font-size: 20px;
    padding-bottom: 50px;
}